section#mad-liste {
    /* Display grid definerer et html element som grid-container*/
    display: grid;
    /*Her angiver man bredden og antal af kolonner - vi har herunder angiver vi det i px og bredden angiver vi i fr (fraction)*/
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
}

article img {
    /*100% af bredden i på billedet i article*/
    width: 100%;
}

/*HEADER MED NAV INDE I*/

/*Det besøgte link*/
header nav button:visited {
    color: #fcb268;
}

/*Når man hover over links */
header nav button:hover {
    color: #fcb268;
}

/*Farven på knapperne når de bliver trykket på*/
.valgt {
    color: #fcb268;
}

/*Boksen rundt om knapperne*/
header nav button {
    /*Den ydre afstand fra boksens kant til den næste boks*/
    margin: 0 1rem;
}

/*Selve knappen*/
button {
    font-size: 1.5rem;
    /*Den indre afstand i boksen*/
    padding: 0;
    /*Fjerner kanten på knapperne*/
    border: 0;
    font-family: 'Oswald', sans-serif;
    background-color: white;

}

/*Overskrift*/
h1 {
    margin: 10%;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 100;
    margin-top: 8;

}

h2 {
    font-family: 'Open Sans', sans-serif;
}


/*Div der angiver margin og padding på billederne*/
.data {
    margin: 5px;
    padding: 5px;
}


/*Brødtekst på forsiden - beskrivelse af konceptet*/
.tekst {
    font-size: 1.1rem;
    width: 400px;
    margin: auto;
}

p {
    font-family: 'Raleway', sans-serif;
}

/*POP-UP VINDUE*/

/*Styling af baggrund når pop-up vindet er fremme*/
#detalje {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    display: none;
    background: rgba(98, 98, 98, 0.63);

}

/*Teksten når pop-up boksen kommer frem*/
#detalje p {
    max-width: 400px;
    margin-left: 7.5vw;
}

/*Overskriften når pop-up boksen kommer frem*/
#detalje h2 {
    margin-left: 7.5vw;
    font-size: 2rem;
}

/*Luk knappen - krydset*/
#detalje .luk {
    /*krydset sætter sig fast til højre - også når man scroller*/
    float: right;
    font-size: 4em;
}

/*Selve boksen - styling*/
#detalje .data {
    width: 50vw;
    min-height: 50vh;
    margin: 4rem auto;
    padding: 4rem;
    background: white;
}

/*Styling af img i pop-up vinduet*/
#detalje img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35vw;
    height: 35vw;
}

/*POP-UP VINDUE SLUT*/

/*Splash billede*/
#splash img {
    width: 100%;
}

/*BURGER MENU*/

/*Når burger menuen er lukket skal den transforme således*/
.hidden {
    transform: translateX(-100%);
    display: none;
}

/*Selve burger knappen*/
#menuknap {
    display: inline-block;
    font-size: 2rem;
    font-family: sans-serif;
}

/*Menuen når den er foldet ud*/
#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
    font-family: cursive;
    text-align: center;
}

/*Når siden er over 600px skal burger menuen ikke vises*/
@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        display: block;
    }

    #menu li {
        display: inline-block;
    }
}

/*BURGER SLUT*/


/*Hover på billederne*/

.col img {
    -webkit-transition: all .7s ease-in-out;
}

.col img:hover {
    -webkit-transform: scale(1.06);
}

/*Hover slut*/

/***FOOTER****/

footer {
    text-align: center;
    background-color: rgba(237, 233, 233, 0.44);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*Tekst i footer*/
footer p {
    color: #625b5b;
    padding-top: 0.5rem;
    text-align: center;
    width: 20rem;
}

/*****Footer slut*****/

/*Lav evt mediaquery til højden så der ikke er for meget hvid luft ovenover splash billedet*/
